# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = myntra.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy:local]
url = https://limitless-waters-77333.herokuapp.com/
project = myntra
